.sidebar__option {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  color: #818181;
}

.sidebar__option:hover,.sidebar__option:hover > p,.sidebar__option:hover > h3 {
  background-color: #fcecec;
  color: #c04b37;
  font-weight: 800 !important;
}

.sidebar__option > .MuiSvgIcon-root {
  padding: 5px;
}

.sidebar__option > h3 {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.sidebar__option > p {
  display: none;
  font-weight: 300;
}
